/*************************************************
 *  Card Component Customization
 **************************************************/

.card-simple {
  background: $sta-home-section-odd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: unset;
}

/*************************************************
 *  URL Text Links
 **************************************************/

/* Text URLs have an underline */
.article-style a {
  color: unset;
  border-bottom: 1.5px $sta-link solid;
  text-decoration: none;
  // transition: color 0.6s;
}

.article-style  a:hover {
  border-bottom: 1.5px $sta-link-hover solid;
  text-decoration: none !important;
  color: $sta-link-hover;
  cursor: pointer;
  transition: color 0.6s !important;
  transition: border-bottom 0.6s !important;
}

/*************************************************
 *  Buttons
 **************************************************/

// General button settings
.btn {
  border-radius: 8px;
  transition: 0.6s !important;
}

.btn:hover {

}

// Toolbar buttons
.btn-toolbar .btn:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btn-toolbar .btn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn-sm {
  color: #212529;
  border-color: #212529;
  border-radius: 6px !important;
  transition: 0.6s !important;
}

.btn-sm:hover {
  border-color: $sta-primary !important;
}

/*************************************************
 *  Code
 **************************************************/

pre, code {
  color: #333;
}

/*************************************************
 *  Code Clipboard Button
 **************************************************/

.clipboard-button {
  color: #998;
  background-color: #f8f8f8;
  border-color: background-color;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  font-size: 0.8em;
  padding: 2px 7px 5px 7px;

  // Position of button
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: -35px;

  // Make copy button invisible
  opacity: 0;
}
.clipboard-button:hover {
  background-color: #e0e0e0;
  transition: background-color 0.6s !important; // Use important to override
}
.clipboard-button:focus {
  outline: 0;
}

// SVG sub class
// These define the fill of the image within the button
.clipboard-button > svg {
  fill: #998;
}
.clipboard-button:hover > svg {
  fill: #696969;
  transition: fill 0.6s;
}

// Make copy button visible when hover over pre block
pre:hover > .clipboard-button {
  opacity: 1;
  transition: opacity 0.2s;
}

/*************************************************
 *  Footer Heart Icon
 **************************************************/

.fa-heart {
  color: $sta-link;
  // If we want a solid heart, can change the html to be fa fa-heart instead of
  // far-heart. We can set the fill color using the below.
  // fill: $sta-link;
}
