/*************************************************
 *  Card Component Customization
 **************************************************/

.card-simple {
  background: $sta-home-section-odd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: unset;
  border-radius: 10px;
}

/*************************************************
 *  URL Text Links
 **************************************************/

.article-style a {
  color: unset;
  border-bottom: 1.5px $sta-link solid;
  text-decoration: none;
  // transition: color 0.6s;
}

.article-style  a:hover {
  border-bottom: 1.5px $sta-link-hover solid;
  text-decoration: none !important;
  color: $sta-link-hover;
  cursor: pointer;
  transition-property: color, border-bottom;
  transition-duration: 0.6s;
}

/*************************************************
 *  Buttons
 **************************************************/

$button-color: #212529;

// General button settings
.btn {
  border-radius: 8px;
  transition: 0.6s !important;
}

// Toolbar buttons
.btn-toolbar .btn:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.btn-toolbar .btn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

// Publication buttons
.btn-sm {
  color: $button-color;
  border-color: $button-color;
  border-radius: 6px !important;
  transition: 0.6s !important;
}
.btn-sm:hover {
  border-color: $sta-primary !important;
}

/*************************************************
 *  Code
 **************************************************/

pre, code {
  color: #333;
}

/*************************************************
 *  Code Clipboard Button
 **************************************************/

.clipboard-button {
  color: #998;
  background-color: #f8f8f8;
  border-color: background-color;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  font-size: 0.8em;
  padding: 2px 7px 5px 7px;

  // Position of button
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: -35px;

  // Make copy button invisible
  opacity: 0;
}
.clipboard-button:hover {
  background-color: #e0e0e0;
  transition: background-color 0.6s !important; // Use important to override
}
.clipboard-button:focus {
  outline: 0;
}

// SVG sub class
// These define the fill of the image within the button
.clipboard-button > svg {
  fill: #998;
}
.clipboard-button:hover > svg {
  fill: #696969;
  transition: fill 0.6s;
}

// Make copy button visible when hover over pre block
pre:hover > .clipboard-button {
  opacity: 1;
  transition: opacity 0.2s;
}

/*************************************************
 *  Image Zoom
 **************************************************/

.medium-zoom--opened .medium-zoom-overlay {
  background: $sta-background !important;
  opacity: 0.8 !important;
}

/*************************************************
 *  Contact Form
 **************************************************/

.form-control {
  border-radius: 8px;
}

/*************************************************
 *  Map
 **************************************************/

// Location icon
.wg-contact .fa-li {
  top: 0px;
}

/*************************************************
 *  Footer Heart Icon
 **************************************************/

.fa-heart {
  color: $sta-link;
  // If we want a solid heart, can change the html to be fa fa-heart instead of
  // far-heart. We can set the fill color using the below.
  // fill: $sta-link;
}

/*************************************************
 *  Callouts
 **************************************************/

.article-style aside p::before,
div.alert > div:first-child::before {
  color: $sta-link;
}

.article-style aside a,
div.alert a {
  color: unset;
  border-bottom: 1.5px $sta-link solid;
  text-decoration: none;
}

.article-style aside a,
div.alert a:hover {
  color: $sta-link-hover;
  border-bottom: 1.5px $sta-link-hover solid;
  cursor: pointer;
  transition-property: color, border-bottom;
  transition-duration: 0.6s;
}

.article-style aside,
.alert-note {
  color: $button-color;
  background-color: $sta-home-section-even;
  border-color: $button-color;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

/*************************************************
 *  Highlight author
 **************************************************/

.article-metadata .author-highlighted {
    font-weight: 900;
    text-decoration: underline;
}

/*************************************************
 *  See all publications text
 **************************************************/

.see-all {
  margin-top: 1.5rem;
  text-transform: none;
}

/*************************************************
 *  CSS Animations
 **************************************************/

/* Left side of about page */
.about-avatar, .about-name {
  animation: zoomIn 1.3s 0.2s both;
}

.about-position, .about-socials {
  animation: fadeInLeftBig 1.2s 0.5s both;
}

/* Right side of about page */
.about-title, .about-text, .about-interests, .about-education {
  animation: fadeInRightBig 1.2s 0.5s both;
}

/* Projects widget */
 .wg-portfolio {
  animation: fadeInUpBig 1.2s 0.8s both;
}
